<div class="breadCrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="index.html"><span>Trang chủ</span></a>
            </li>
            <li class="breadcrumb-item "><a class="text-decoration-none" href="san-pham.html"><span>Sản phẩm</span></a>
            </li>
            <li class="breadcrumb-item "><a class="text-decoration-none" href="ke-tu-quay-bep-inox.html"><span>KỆ TỦ
                        QUẦY BẾP INOX</span></a></li>
            <li class="breadcrumb-item active"><a class="text-decoration-none"
                    href="ban-bep-inox-cong-nghiep.html"><span>Bàn bếp inox công nghiệp</span></a></li>
        </ol>
        <script
            type="application/ld+json">{"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{"@type":"ListItem","position":1,"name":"S\u1ea3n ph\u1ea9m","item":"https:\/\/cokhinguyenhungdalat.com\/san-pham"},{"@type":"ListItem","position":2,"name":"K\u1ec6 T\u1ee6 QU\u1ea6Y B\u1ebeP INOX","item":"https:\/\/cokhinguyenhungdalat.com\/ke-tu-quay-bep-inox"},{"@type":"ListItem","position":3,"name":"B\u00e0n b\u1ebfp inox c\u00f4ng nghi\u1ec7p","item":"https:\/\/cokhinguyenhungdalat.com\/ban-bep-inox-cong-nghiep"}]}</script>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-md-12">
            <diiv class="grid-pro-detail w-clear">
                <div class="left-pro-detail w-clear">
                    <a id="Zoom-1" class="MagicZoom"
                        data-options="zoomMode: off; hint: off; rightClick: true; selectorTrigger: hover; expandCaption: false; history: false;"
                        href="/thumbs/540x540x1/upload/product/ban-bep-inox-cong-nghiep-3566.jpg"
                        title="Bàn bếp inox công nghiệp"><img
                            onerror="this.src='thumbs/540x540x2/assets/images/noimage.png';"
                            src="/thumbs/540x540x1/upload/product/ban-bep-inox-cong-nghiep-3566.jpg"
                            alt="Bàn bếp inox công nghiệp"></a>
                </div>

                <div class="right-pro-detail w-clear">
                    <p class="title-pro-detail">Bàn bếp inox công nghiệp</p>


                    <div class="desc-pro-detail"></div>
                    <ul class="attr-pro-detail">
                        <li class="w-clear">
                            <label class="attr-label-pro-detail">Mã sản phẩm:</label>
                            <div class="attr-content-pro-detail"></div>
                        </li>
                        <li class="w-clear">
                            <label class="attr-label-pro-detail">Giá:</label>
                            <div class="attr-content-pro-detail">
                                <span class="price-new-pro-detail">
                                    <div class="f-hotline">Liên hệ báo giá <span><a href="tel:0913953574">0913 953
                                                574</a> - <a href="tel:0385097771">0385 09 77 71</a></div>
                                </span></span>
                            </div>
                        </li>
                        <script>
                            var _price = 0;
                            var _price_list = [];
                        </script>

                        <li class="w-clear">
                            <label class="attr-label-pro-detail">Lượt xem:</label>
                            <div class="attr-content-pro-detail">35</div>
                        </li>
                    </ul>


                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_inline_share_toolbox"></div>
                </div>

                <div class="clear"></div>

                <div class="tags-pro-detail w-clear">
                </div>
                <div class="clear"></div>

                <div class="tabs-pro-detail">
                    <ul class="ul-tabs-pro-detail w-clear">
                        <li class="active transition" data-tabs="info-pro-detail">Thông tin sản phẩm</li>~

                    </ul>
                    <div class="content-tabs-pro-detail info-pro-detail active">
                        <hr />
                        <div class="fb-comments" data-href="https://cokhinguyenhungdalat.com/ban-bep-inox-cong-nghiep"
                            data-numposts="3" data-colorscheme="light" data-width="100%"></div>
                    </div>

                </div>



                <div class="title-main has-filter d-flex align-items-center justify-content-between">
                    <h4>Sản phẩm cùng loại</h4>
                </div>

                <div class="content-main w-clear">
                    <div class="row">
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-product-custom mb-4">
                            <div class="product grid">
                                <a class="box-product text-decoration-none" href="ban-bep-inox-co-tu.html"
                                    title="Bàn bếp inox có tủ">
                                    <p class="pic-product scale-img"><img
                                            onerror="this.src='thumbs/360x360x2/assets/images/noimage.png';"
                                            src="/thumbs/360x360x1/upload/product/ban-bep-inox-co-tu-8007.jpg"
                                            alt="Bàn bếp inox có tủ" /></p>

                                </a>
                                <div class="info-product">
                                    <div class="wrap-info">
                                        <div class="info1">
                                            <h3 class="name-product "> <a class="text-decoration-none"
                                                    href="ban-bep-inox-co-tu.html" title="Bàn bếp inox có tủ">Bàn bếp
                                                    inox có tủ</a></h3>
                                            <p class="price-product">
                                                <span class="price-new">Liên hệ: <span><a href="tel:0913953574">0913 953
                                                            574</a> - <a href="tel:0385097771">0385 09 77
                                                            71</a></span></span>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-product-custom mb-4">
                            <div class="product grid">
                                <a class="box-product text-decoration-none" href="ke-tu-bep-inox-cong-nghiep.html"
                                    title="Kệ tủ bếp inox công nghiệp">
                                    <p class="pic-product scale-img"><img
                                            onerror="this.src='thumbs/360x360x2/assets/images/noimage.png';"
                                            src="/thumbs/360x360x1/upload/product/thiet-bi-bep-cong-nghiep-9427.jpg"
                                            alt="Kệ tủ bếp inox công nghiệp" /></p>

                                </a>
                                <div class="info-product">
                                    <div class="wrap-info">
                                        <div class="info1">
                                            <h3 class="name-product "> <a class="text-decoration-none"
                                                    href="ke-tu-bep-inox-cong-nghiep.html"
                                                    title="Kệ tủ bếp inox công nghiệp">Kệ tủ bếp inox công nghiệp</a>
                                            </h3>
                                            <p class="price-product">
                                                <span class="price-new">Liên hệ: <span><a href="tel:0913953574">0913 953
                                                            574</a> - <a href="tel:0385097771">0385 09 77
                                                            71</a></span></span>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-product-custom mb-4">
                            <div class="product grid">
                                <a class="box-product text-decoration-none" href="ke-bep-va-chau-rua-inox-khong-ri.html"
                                    title="Kệ bếp và chậu rửa inox không rỉ">
                                    <p class="pic-product scale-img"><img
                                            onerror="this.src='thumbs/360x360x2/assets/images/noimage.png';"
                                            src="/thumbs/360x360x1/upload/product/ke-bep-gas-va-chau-rua-2064.jpg"
                                            alt="Kệ bếp và chậu rửa inox không rỉ" /></p>

                                </a>
                                <div class="info-product">
                                    <div class="wrap-info">
                                        <div class="info1">
                                            <h3 class="name-product "> <a class="text-decoration-none"
                                                    href="ke-bep-va-chau-rua-inox-khong-ri.html"
                                                    title="Kệ bếp và chậu rửa inox không rỉ">Kệ bếp và chậu rửa inox
                                                    không rỉ</a></h3>
                                            <p class="price-product">
                                                <span class="price-new">Liên hệ: <span><a href="tel:0913953574">0913 953
                                                            574</a> - <a href="tel:0385097771">0385 09 77
                                                            71</a></span></span>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-product-custom mb-4">
                            <div class="product grid">
                                <a class="box-product text-decoration-none" href="quay-pha-che-inox.html"
                                    title="Quầy pha chế inox ">
                                    <p class="pic-product scale-img"><img
                                            onerror="this.src='thumbs/360x360x2/assets/images/noimage.png';"
                                            src="/thumbs/360x360x1/upload/product/he-quay-pha-che-inox-8011.jpg"
                                            alt="Quầy pha chế inox " /></p>

                                </a>
                                <div class="info-product">
                                    <div class="wrap-info">
                                        <div class="info1">
                                            <h3 class="name-product "> <a class="text-decoration-none"
                                                    href="quay-pha-che-inox.html" title="Quầy pha chế inox ">Quầy pha
                                                    chế inox </a></h3>
                                            <p class="price-product">
                                                <span class="price-new">Liên hệ: <span><a href="tel:0913953574">0913 953
                                                            574</a> - <a href="tel:0385097771">0385 09 77
                                                            71</a></span></span>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="pagination-home"></div>
                </div>
        </div>
    </div>
</div>