<aside class='left-sidebar' data-sidebarbg='skin6'>
 <!-- Sidebar scroll-->
 <div class='scroll-sidebar'>
  <!-- Sidebar navigation-->
  <nav class='sidebar-nav'>
   <ul id='sidebarnav'>
    <!-- User Profile-->
    <li class='sidebar-item'>
     <a
      class='sidebar-link waves-effect waves-dark sidebar-link'
      href='/admin'
      aria-expanded='false'
     ><i class='mdi me-2 mdi-gauge'></i><span class='hide-menu'>Cửa Hàng</span></a></li>
    <li class='sidebar-item'>
     <a
      class='sidebar-link waves-effect waves-dark sidebar-link'
      href='/admin/webpage'
      aria-expanded='false'
     >
      <i class='mdi me-2 mdi-account-check'></i><span class='hide-menu'>Trang
       web</span></a>
    </li>
    <li class='sidebar-item'>
     <a
      class='sidebar-link waves-effect waves-dark sidebar-link'
      href='/admin/cong-trinh'
      aria-expanded='false'
     ><i class='mdi me-2 mdi-table'></i><span class='hide-menu'>Công trình</span></a></li>
    <li class='sidebar-item'>
     <a
      class='sidebar-link waves-effect waves-dark sidebar-link'
      href='/admin/tin-tuc'
      aria-expanded='false'
     ><i class='mdi me-2 mdi-emoticon'></i><span class='hide-menu'>Tin tức</span></a></li>
    {{!-- <li class='sidebar-item'>
     <a
      class='sidebar-link waves-effect waves-dark sidebar-link'
      href='/admin/danh-muc'
      aria-expanded='false'
     ><i class='mdi me-2 mdi-earth'></i><span class='hide-menu'>Danh mục</span></a></li> --}}
    <li class='sidebar-item'>
     <a
      class='sidebar-link waves-effect waves-dark sidebar-link'
      href='/admin/dang-xuat'
      aria-expanded='false'
     ><i class='mdi me-2 mdi-book-open-variant'></i><span
       class='hide-menu'
      >Đăng xuất</span></a>
    </li>
   </ul>

  </nav>
  <!-- End Sidebar navigation -->
 </div>
 <!-- End Sidebar scroll-->
 <div class='sidebar-footer'>
  <div class='row'>
   <div class='col-4 link-wrap'>
    <!-- item-->
    <a
     href=''
     class='link'
     data-toggle='tooltip'
     title=''
     data-original-title='Settings'
    ><i class='ti-settings'></i></a>
   </div>
   <div class='col-4 link-wrap'>
    <!-- item-->
    <a
     href=''
     class='link'
     data-toggle='tooltip'
     title=''
     data-original-title='Email'
    ><i class='mdi mdi-gmail'></i></a>
   </div>
   <div class='col-4 link-wrap'>
    <!-- item-->
    <a
     href=''
     class='link'
     data-toggle='tooltip'
     title=''
     data-original-title='Logout'
    ><i class='mdi mdi-power'></i></a>
   </div>
  </div>
 </div>
</aside>