<div id='footer'>
    <div class="container ">

        <div class="row d-flex flex-column flex-sm-row justify-content-between">
            <div class="col-12 col-md-5  mb-3 company-info">


                <h1>CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG</h1>
                <div class="slogan-footer"></div>
                <div class="content">
                    <div><span><i class="fal fa-map-marker-alt"></i></span>&nbsp;216/11 Nguyên Tử Lực, P.8, Tp.Đà Lạt,
                        Lâm Đồng</div>
                    <div><span><i class="fas fa-phone-alt"></i></span>&nbsp;0913 953 574 - 0385 09 77 71</div>
                    <div><span><i class="fal fa-envelope-open-text"></i></span>&nbsp;cokhinguyenhungdalat@gmail.com
                    </div>
                    <div><span><i class="fal fa-globe"></i></span>&nbsp;www.cokhinguyenhungdalat.com</div>
                </div>



            </div>
            <div class="col-12 col-md-7">
                <div class="row">

                    <div class="col-12 col-md-6  mb-3">
                        <div class="small-title-2 text-shadow">Chính sách</div>
                        <div class="content">
                            <ul>
                                <li><a href="https://cokhinguyenhungdalat.com/ho-tro-dat-hang">Hỗ trợ đặt hàng</a></li>
                                <li><a href="https://cokhinguyenhungdalat.com/chinh-sach-mua-hang">Chính sách mua
                                        hàng</a></li>
                                <li><a href="https://cokhinguyenhungdalat.com/chinh-sach-bao-hanh">Chính sách bảo
                                        hành</a></li>
                                <li><a href="https://cokhinguyenhungdalat.com/chinh-sach-bao-mat-thong-tin">Chính sách
                                        bảo mật thông tin</a></li>
                                <li><a href="https://cokhinguyenhungdalat.com/chinh-sach-ban-hang">Chính sách bán
                                        hàng</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-12 col-md-6  mb-3">

                        <div class="small-title-2 text-shadow">Đăng ký nhận tin</div>
                        <div class="content">
                            <div class="form-newsletter">
                                <div class="desc">Hãy để lại email của bạn để nhận thông tin mới nhất từ chúng tôi</div>
                                <form class="form-newsletter">
                                    <input type="email" required name="email" placeholder="Nhập email của bạn"><button
                                        type="submit">Gửi</button>
                                </form>
                            </div>
                            <div class="content social ">

                                <a href="https://www.facebook.com/NguyenHungTranInox/" target="_blank"
                                    rel="nofollow noopener"><img src="thumbs/42x0x1/upload/photo/s1-73160.png" /></a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>





        </div>






    </div>
    <div class="copyright">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    Copyright © 2023 CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG. </div>
                <div class="col-auto">
                    <span>Đang online: 3</span> |

                    <span>Tổng truy cập: 6967</span>
                </div>
            </div>
        </div>
    </div>
    <div class="map-content">
        <div class='map-wrap'>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.5326235464195!2d108.4332149739436!3d11.937579736706395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31711331e657c993%3A0x1e79005f51280337!2zQ8ahIFPhu58gSW5veCBOZ3V5w6puIEjDuW5n!5e0!3m2!1svi!2s!4v1684143440422!5m2!1svi!2s"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>