<ul class="h-card hidden">
    <li class="h-fn fn">CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG</li>
    <li class="h-org org">CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG</li>
    <li class="h-tel tel">0913953574</li>
    <li><a class="u-url ul" href="index.html">https://cokhinguyenhungdalat.com/</a></li>
</ul>
<h1 class="hidden-seoh">CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG | 0913 953 574 | 0385 09
    77 71</h1>

<div class="header" id="main-header">
    <div class="head-slogan d-none d-sm-block">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    Hoạt động T2 - Chủ Nhật: 7:00 - 20:00
                </div>
                <div class="col-auto">
                    <i class="far fa-map-marker-alt"></i>&nbsp;Địa chỉ: 216/11
                    Nguyên Tử Lực, P.8, Tp.Đà Lạt, Lâm Đồng
                </div>
                <div class="col-auto">
                    <i class="fas fa-envelope"></i>&nbsp;Email:
                    cokhinguyenhungdalat@gmail.com
                </div>
            </div>
        </div>

    </div>
    <div class="line-top pt-2 d-none d-sm-block">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-md-2 pt-3">
                    <a href="index.html" class="col-auto"><img class="main-logo"
                            src="thumbs/105x0x1/upload/photo/logo-up-4490.jpg" /></a>

                </div>
                <div class="col-md-10 col-12">

                    <div class="d-flex justify-content-between align-items-center">
                        <div><img class="main-banner" src="thumbs/0x100x1/upload/photo/banner-head-2211.jpg" /></div>
                        <div>
                            <div class="xhotline">
                                <span class="pull-left">Hotline</span>
                                <div class="pull-left d-inline-block">
                                    <a class="d-block" href="tel:0913953574">0913 953 574</a><br />
                                    <a class="d-block" href="tel:0385097771">0385 09 77 71</a>
                                </div>
                                <div class="clearfix"></div>

                            </div>
                            <div class="search mt-3">
                                <form action="https://cokhinguyenhungdalat.com/search.html">
                                    <input type="text" name="keyword" value="" placeholder="Tìm kiếm sản phẩm" /><button
                                        type="submit">Tìm kiếm</button>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="wrap-menu">
        <div class="menu clearfix container">
            <ul class="d-flex align-items-center justify-content-between menu-part">
                <li><a class="transition active" href="index.html" title="Trang chủ">Trang chủ</a></li>
                <li><a class="transition" href="https://cokhinguyenhungdalat.com/gioi-thieu.html"
                        title="GIỚI THIỆU">GIỚI THIỆU</a></li>
                <li><a class="transition" href="https://cokhinguyenhungdalat.com/san-pham.html" title="SẢN PHẨM">SẢN
                        PHẨM</a>
                    <ul>
                        <li><a href="cua-nhom-xingfa-cua-keo-dai-loan.html">CỬA
                                NHÔM XINGFA - CỬA KÉO ĐÀI LOAN</a></li>
                        <li><a href="noi-inox-tu-nau-com-cong-nghiep.html">NỒI INOX - TỦ NẤU CƠM CÔNG NGHIỆP</a></li>
                        <li><a href="ke-tu-quay-bep-inox.html">KỆ TỦ QUẦY BẾP INOX</a></li>
                        <li><a href="cau-thang-lan-can.html">CẦU THANG - LAN CAN</a></li>
                        <li><a href="ban-ghe-tu-inox-khong-ri.html">BÀN GHẾ TỦ INOX KHÔNG RỈ</a></li>
                        <li><a href="nha-tien-che.html">NHÀ TIỀN CHẾ</a></li>
                    </ul>
                </li>
                <li><a class="transition" href="https://cokhinguyenhungdalat.com/dich-vu.html" title="Dịch vụ">Dịch
                        vụ</a></li>
                <li><a class="transition" href="https://cokhinguyenhungdalat.com/cong-trinh.html"
                        title="Công trình">Công trình</a></li>
                <li><a class="transition" href="https://cokhinguyenhungdalat.com/tin-tuc.html" title="Tin tức">Tin
                        tức</a></li>
                <li><a class="transition" href="https://cokhinguyenhungdalat.com/lien-he.html" title="Liên hệ">Liên
                        hệ</a></li>
            </ul>
        </div>
    </div>
    <div class="top-header d-block d-sm-none">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <div class="col-3 col-md-2 logo-col">
                    <div class="pr-3 pr-sm-0">
                        <a href="index.html" class="col-auto"><img
                                src="thumbs/0x100x1/upload/photo/logo-up-4490.jpg" /></a>
                    </div>
                </div>
                <div class="col-5 hotline-mobile">
                    <a href="tel:0913953574"><i class="fal fa-phone-square-alt"></i>&nbsp;0913 953 574</a>
                </div>
                <div class="col-4 d-block d-sm-none">
                    <div class="menu-res">
                        <div class="menu-bar-res">
                            <a href="javascript:void(0)" class="trigger-search"><i class="fal fa-search"></i></a>
                            <a id="hamburger" href="index.html#menu" title="Menu"><i class="fal fa-bars"></i></a>
                        </div>
                    </div>
                    <nav id="menu">
                        <ul>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="search-mobile-custom">
            <div class="row align-items-center justify-content-between">
                <div class="form-search">
                    <form class="top-form" action="https://cokhinguyenhungdalat.com/search.html">
                        <input name="keyword" class="place-white" placeholder="Tìm kiếm ..." required value="" />
                    </form>
                </div>
            </div>
            <span class="closex"><i class="fal fa-window-close"></i></span>
        </div>
    </div>
</div>