<div class="slideshow">

    <div id="mainSlider" class="owl-carousel">
        <div class="item">
            <a href="/" target="_blank" title=""><img
                    src="thumbs/1920x0x1/upload/photo/slider-38340.jpg" /></a>
        </div><!-- /.item -->
        <div class="item">
            <a href="/" target="_blank" title=""><img
                    src="thumbs/1920x0x1/upload/photo/slider-19820.jpg" /></a>
        </div><!-- /.item -->
        <div class="item">
            <a href="/" target="_blank" title=""><img
                    src="thumbs/1920x0x1/upload/photo/slider-92500.jpg" /></a>
        </div><!-- /.item -->
    </div><!-- end main-slider -->
</div><!-- end slideshow-->

<div class="head-index pt-4">
    <div class="container">
        <div class="block-about">
            <div class="row">
                <div class="col-12">
                    <div class="title">

                        <div class="big-title">GIỚI THIỆU CƠ KHÍ NGUYÊN HÙNG</div>
                    </div>
                    <div class="content">
                        <p style="text-align: center;">Cơ khí
                            Nguyên Hùng chuyên sản xuất và cung cấp nhôm kính,
                            inox, cửa nhôm, nồi inox, tủ nấu công nghiệp, kệ tủ
                            quầy bếp inox, thiết bị bếp inox, cầu thang, lan can
                            inox, cửa kéo Đài Loan, tư vấn thiết kế nhà tiền chế
                            ... tại Đà Lạt. Với nhiều năm kinh nghiệm nhiều năm
                            trong lĩnh vực cơ khí - xây dựng, đội ngũ kỹ thuật
                            viên được đào tạo bài bản, kinh nghiệm, tay nghề
                            cao, tâm huyết tạo ra sản phẩm. Chúng tôi tự hào
                            mang đến những sản phẩm tốt nhất cho quý khách tại
                            Thành phố Đà Lạt.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="product-list-vcd">
            <div class="list">
                <div class="item item-1">
                    <a href="cua-nhom-xingfa-cua-keo-dai-loan.html">
                        <span class="number">1</span>
                        <h2>CỬA NHÔM XINGFA - CỬA KÉO ĐÀI LOAN</h2>
                        <p>Là mẫu cửa khá thông dụng và tiện lợi, khá nhẹ, cũng
                            tiết kiệm nhiều chi phí</p>
                    </a>
                </div>
                <div class="item item-2">
                    <a href="noi-inox-tu-nau-com-cong-nghiep.html">
                        <span class="number">2</span>
                        <h2>NỒI INOX - TỦ NẤU CƠM CÔNG NGHIỆP</h2>
                        <p>Được thiết kế với kiểu dáng hiện đại, sang trọng,
                            chất liệu 2 lớp inox 304 dày dặn, chắc chắn, 1 lớp
                            foam giữ nhiệt. Hoạt động bằng điện tiện ích.</p>
                    </a>
                </div>
                <div class="item item-3">
                    <a href="ke-tu-quay-bep-inox.html">
                        <span class="number">3</span>
                        <h2>KỆ TỦ QUẦY BẾP INOX</h2>
                        <p>Quầy bếp inox được sản xuất bằng inox 304 cao cấp,
                            không gỉ, siêu bền, kích thước đa dạng, có kệ giữa
                            tiện lợi, tiết kiệm không gian.</p>
                    </a>
                </div>
                <div class="item item-4">
                    <a href="cau-thang-lan-can.html">
                        <span class="number">4</span>
                        <h2>CẦU THANG - LAN CAN</h2>
                        <p>Lan can cầu thang inox được sử dụng rộng rãi trong
                            các công trình từ nhà phố, biệt thự cho đến các tòa
                            cao ốc, tòa nhà văn phòng, trung tâm thương mại.</p>
                    </a>
                </div>
                <div class="item item-5">
                    <a href="ban-ghe-tu-inox-khong-ri.html">
                        <span class="number">5</span>
                        <h2>BÀN GHẾ TỦ INOX KHÔNG RỈ</h2>
                        <p>Chất liệu inox cao cấp mang đến cho sản phẩm độ sáng
                            bóng tinh tế, chống rỉ sét và không hút nam châm,
                            chắc chắn, bền bỉ và sáng bóng.</p>
                    </a>
                </div>
                <div class="item item-6">
                    <a href="nha-tien-che.html">
                        <span class="number">6</span>
                        <h2>NHÀ TIỀN CHẾ</h2>
                        <p>Những mẫu nhà tiền chế nhỏ gọn, đẹp, giá rẻ, thiết kế
                            hiện đại nhất tại Đà Lạt</p>
                    </a>
                </div>
                <div class="text-center">
                    <img src="assets/images/index.png" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="block-product">
        <div class="big-title text-black">SẢN PHẨM NỔI BẬT</div>

        <div class="group-product">
            <div class="row">
                <div class="col-6 col-sm-4 col-md-3 col-lg-3 mb-4">
                    <div class="product grid">
                        <a class="box-product text-decoration-none" href="tu-inox-ham-nong-thuc-an.html"
                            title="Tủ inox hâm nóng thức ăn">
                            <p class="pic-product scale-img"><img
                                    onerror="this.src='thumbs/360x360x2/assets/images/noimage.png';"
                                    src="thumbs/360x360x1/upload/product/tu-inox-ham-nong-thuc-an-5761.jpg"
                                    alt="Tủ inox hâm nóng thức ăn" /></p>

                        </a>
                        <div class="info-product">
                            <div class="wrap-info">
                                <div class="info1">
                                    <h3 class="name-product">
                                        <a class="text-decoration-none" href="tu-inox-ham-nong-thuc-an.html"
                                            title="Tủ inox hâm nóng thức ăn">Tủ inox hâm nóng thức ăn</a>
                                    </h3>
                                    <p class="price-product">
                                        <span class="price-new">Liên hệ:
                                            <span><a href="tel:0913953574">0913
                                                    953 574</a>
                                                -
                                                <a href="tel:0385097771">0385 09
                                                    77 71</a></span></span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-3 mb-4">
                    <div class="product grid">
                        <a class="box-product text-decoration-none" href="tu-nau-com-cong-nghiep-cao-cap-da-nang.html"
                            title="Tủ nấu cơm công nghiệp cao cấp đa năng">
                            <p class="pic-product scale-img"><img
                                    onerror="this.src='thumbs/360x360x2/assets/images/noimage.png';"
                                    src="thumbs/360x360x1/upload/product/tu-nau-com-cong-nghiep-cao-cap-da-nang-7327.jpg"
                                    alt="Tủ nấu cơm công nghiệp cao cấp đa năng" /></p>

                        </a>
                        <div class="info-product">
                            <div class="wrap-info">
                                <div class="info1">
                                    <h3 class="name-product">
                                        <a class="text-decoration-none"
                                            href="tu-nau-com-cong-nghiep-cao-cap-da-nang.html"
                                            title="Tủ nấu cơm công nghiệp cao cấp đa năng">Tủ nấu cơm công nghiệp cao
                                            cấp đa năng</a>
                                    </h3>
                                    <p class="price-product">
                                        <span class="price-new">Liên hệ:
                                            <span><a href="tel:0913953574">0913
                                                    953 574</a>
                                                -
                                                <a href="tel:0385097771">0385 09
                                                    77 71</a></span></span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-3 mb-4">
                    <div class="product grid">
                        <a class="box-product text-decoration-none" href="noi-dien-cao-cap-inox-304-thep-khong-ri.html"
                            title="Nồi điện cao cấp inox 304 thép không rỉ">
                            <p class="pic-product scale-img"><img
                                    onerror="this.src='thumbs/360x360x2/assets/images/noimage.png';"
                                    src="thumbs/360x360x1/upload/product/noi-dien-cao-cap-inox-304-khong-ri-set-3147.jpg"
                                    alt="Nồi điện cao cấp inox 304 thép không rỉ" /></p>

                        </a>
                        <div class="info-product">
                            <div class="wrap-info">
                                <div class="info1">
                                    <h3 class="name-product">
                                        <a class="text-decoration-none"
                                            href="noi-dien-cao-cap-inox-304-thep-khong-ri.html"
                                            title="Nồi điện cao cấp inox 304 thép không rỉ">Nồi điện cao cấp inox 304
                                            thép không rỉ</a>
                                    </h3>
                                    <p class="price-product">
                                        <span class="price-new">Liên hệ:
                                            <span><a href="tel:0913953574">0913
                                                    953 574</a>
                                                -
                                                <a href="tel:0385097771">0385 09
                                                    77 71</a></span></span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-3 mb-4">
                    <div class="product grid">
                        <a class="box-product text-decoration-none" href="bep-inox-3-hong-loai-thap.html"
                            title="Bếp inox 3 họng loại thấp">
                            <p class="pic-product scale-img"><img
                                    onerror="this.src='thumbs/360x360x2/assets/images/noimage.png';"
                                    src="thumbs/360x360x1/upload/product/bep-3-hong-loai-thap-3446.JPG"
                                    alt="Bếp inox 3 họng loại thấp" /></p>

                        </a>
                        <div class="info-product">
                            <div class="wrap-info">
                                <div class="info1">
                                    <h3 class="name-product">
                                        <a class="text-decoration-none" href="bep-inox-3-hong-loai-thap.html"
                                            title="Bếp inox 3 họng loại thấp">Bếp inox 3 họng loại thấp</a>
                                    </h3>
                                    <p class="price-product">
                                        <span class="price-new">Liên hệ:
                                            <span><a href="tel:0913953574">0913
                                                    953 574</a>
                                                -
                                                <a href="tel:0385097771">0385 09
                                                    77 71</a></span></span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-3 mb-4">
                    <div class="product grid">
                        <a class="box-product text-decoration-none" href="ban-bep-inox-co-tu.html"
                            title="Bàn bếp inox có tủ">
                            <p class="pic-product scale-img"><img
                                    onerror="this.src='thumbs/360x360x2/assets/images/noimage.png';"
                                    src="thumbs/360x360x1/upload/product/ban-bep-inox-co-tu-8007.jpg"
                                    alt="Bàn bếp inox có tủ" /></p>

                        </a>
                        <div class="info-product">
                            <div class="wrap-info">
                                <div class="info1">
                                    <h3 class="name-product">
                                        <a class="text-decoration-none" href="ban-bep-inox-co-tu.html"
                                            title="Bàn bếp inox có tủ">Bàn bếp inox có tủ</a>
                                    </h3>
                                    <p class="price-product">
                                        <span class="price-new">Liên hệ:
                                            <span><a href="tel:0913953574">0913
                                                    953 574</a>
                                                -
                                                <a href="tel:0385097771">0385 09
                                                    77 71</a></span></span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-3 mb-4">
                    <div class="product grid">
                        <a class="box-product text-decoration-none" href="cau-thang-kinh-inox.html"
                            title="Cầu thang kính inox">
                            <p class="pic-product scale-img"><img
                                    onerror="this.src='thumbs/360x360x2/assets/images/noimage.png';"
                                    src="thumbs/360x360x1/upload/product/cau-thang-kinh-inox-8345.jpg"
                                    alt="Cầu thang kính inox" /></p>

                        </a>
                        <div class="info-product">
                            <div class="wrap-info">
                                <div class="info1">
                                    <h3 class="name-product">
                                        <a class="text-decoration-none" href="cau-thang-kinh-inox.html"
                                            title="Cầu thang kính inox">Cầu thang kính inox</a>
                                    </h3>
                                    <p class="price-product">
                                        <span class="price-new">Liên hệ:
                                            <span><a href="tel:0913953574">0913
                                                    953 574</a>
                                                -
                                                <a href="tel:0385097771">0385 09
                                                    77 71</a></span></span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-3 mb-4">
                    <div class="product grid">
                        <a class="box-product text-decoration-none" href="cua-nhom-xingfa-cao-cap-4-canh.html"
                            title="Cửa nhôm xingfa cao cấp 4 cánh">
                            <p class="pic-product scale-img"><img
                                    onerror="this.src='thumbs/360x360x2/assets/images/noimage.png';"
                                    src="thumbs/360x360x1/upload/product/cua-nhom-xingfa-cao-cap-4353.jpg"
                                    alt="Cửa nhôm xingfa cao cấp 4 cánh" /></p>

                        </a>
                        <div class="info-product">
                            <div class="wrap-info">
                                <div class="info1">
                                    <h3 class="name-product">
                                        <a class="text-decoration-none" href="cua-nhom-xingfa-cao-cap-4-canh.html"
                                            title="Cửa nhôm xingfa cao cấp 4 cánh">Cửa nhôm xingfa cao cấp 4 cánh</a>
                                    </h3>
                                    <p class="price-product">
                                        <span class="price-new">Liên hệ:
                                            <span><a href="tel:0913953574">0913
                                                    953 574</a>
                                                -
                                                <a href="tel:0385097771">0385 09
                                                    77 71</a></span></span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-3 mb-4">
                    <div class="product grid">
                        <a class="box-product text-decoration-none" href="tu-nau-com-cong-nghiep-100kg.html"
                            title="Tủ nấu cơm công nghiệp 100kg">
                            <p class="pic-product scale-img"><img
                                    onerror="this.src='thumbs/360x360x2/assets/images/noimage.png';"
                                    src="thumbs/360x360x1/upload/product/tu-nau-com-cong-nghiep-100kg-2459.jpg"
                                    alt="Tủ nấu cơm công nghiệp 100kg" /></p>

                        </a>
                        <div class="info-product">
                            <div class="wrap-info">
                                <div class="info1">
                                    <h3 class="name-product">
                                        <a class="text-decoration-none" href="tu-nau-com-cong-nghiep-100kg.html"
                                            title="Tủ nấu cơm công nghiệp 100kg">Tủ nấu cơm công nghiệp 100kg</a>
                                    </h3>
                                    <p class="price-product">
                                        <span class="price-new">Liên hệ:
                                            <span><a href="tel:0913953574">0913
                                                    953 574</a>
                                                -
                                                <a href="tel:0385097771">0385 09
                                                    77 71</a></span></span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div><a href="/" target="_blank" rel="nofollow noopened">
        <img src="thumbs/1920x0x1/upload/photo/banner-7255.jpg" />
    </a></div>

<div class="block-news">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="block-title">TIN TỨC - SỰ KIỆN</div>
                <div class="row row-5">
                    <div class="col-12 col-md-7">
                        <div class="news-item-index">
                            <a href="phan-biet-inox-chat-luong-tot-va-inox-ma.html"><img
                                    src="upload/news/phan-biet-inox-chat-luong-tot-inox-ma-6425.jpg" /></a>
                            <h4><a href="phan-biet-inox-chat-luong-tot-va-inox-ma.html">Phân biệt inox chất lượng tốt và
                                    inox mạ</a></h4>
                            <div class="desc text-justify">Chất liệu inox đang
                                ngày càng trở nên phổ biến, được nhiều người
                                tiêu dùng ưa chuộng bởi hình thức sáng bóng của
                                vật liệu, trông rất sạch sẽ.</div>

                        </div>
                    </div>

                    <div class="col-12 col-md-5" style="margin-top:6px">
                        <div class="slick-news-index">
                            <div>
                                <div class="news-item-index-small mb-2">
                                    <div class="row row-5">
                                        <a class="link col-5" style="width:150px"
                                            href="phan-biet-cac-loai-inox.html"><img
                                                src="thumbs/250x150x1/upload/news/cach-phan-biet-3-loai-inox-pho-bien-tren-thi-truong-6974.jpg" /></a>
                                        <div class="info col-7">
                                            <h4><a href="phan-biet-cac-loai-inox.html">Phân biệt các loại inox</a></h4>
                                            <div class="desc text-justify">Thép
                                                không gỉ hay còn gọi là inox là
                                                một dạng hợp kim sắt chứa tối
                                                thiểu 10,5% crôm. Nó ít bị biến
                                                màu hay bị ăn ...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="news-item-index-small mb-2">
                                    <div class="row row-5">
                                        <a class="link col-5" style="width:150px"
                                            href="so-sanh-ve-inox-201-va-304.html"><img
                                                src="thumbs/250x150x1/upload/news/304-201-4348.jpg" /></a>
                                        <div class="info col-7">
                                            <h4><a href="so-sanh-ve-inox-201-va-304.html">So sánh về inox 201 và 304</a>
                                            </h4>
                                            <div class="desc text-justify">Trong
                                                tình hình giá của Niken tăng
                                                liên tục thì những dòng Inox
                                                chứa hàm lượng Niken thấp, giá
                                                cả thấp và ổn định ...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="news-item-index-small mb-2">
                                    <div class="row row-5">
                                        <a class="link col-5" style="width:150px"
                                            href="tim-hieu-ve-thep-khong-gi-inox.html"><img
                                                src="thumbs/250x150x1/upload/news/ky-hieu-thep-khong-gi-8474.jpg" /></a>
                                        <div class="info col-7">
                                            <h4><a href="tim-hieu-ve-thep-khong-gi-inox.html">Tìm hiểu về thép không gỉ
                                                    Inox</a></h4>
                                            <div class="desc text-justify">Nhờ
                                                những đặc tính nổi bật, ngày
                                                nay, thép không gỉ được ứng dụng
                                                rộng rãi trong công nghiệp, y
                                                tế, đời sống ...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="news-item-index-small mb-2">
                                    <div class="row row-5">
                                        <a class="link col-5" style="width:150px"
                                            href="giai-phap-chan-chieu-gian-lan-thue-qua-ap-ma-mat-hang-thep.html"><img
                                                src="thumbs/250x150x1/upload/news/giai-phap-chan-gian-lan-thue-nganh-thep-inox-3569.jpg" /></a>
                                        <div class="info col-7">
                                            <h4><a
                                                    href="giai-phap-chan-chieu-gian-lan-thue-qua-ap-ma-mat-hang-thep.html">Giải
                                                    pháp “chặn” chiêu gian lận
                                                    thuế qua áp mã mặt hàng thép</a></h4>
                                            <div class="desc text-justify">Mới
                                                đây, Cục Hải quan Đồng Nai đã đề
                                                xuất Tổng cục Hải quan một giải
                                                pháp nhằm ngăn chặn thủ đoạn
                                                doanh ...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="news-item-index-small mb-2">
                                    <div class="row row-5">
                                        <a class="link col-5" style="width:150px"
                                            href="them-du-an-thep-duoc-quy-hoach.html"><img
                                                src="thumbs/250x150x1/upload/news/quy-hoach-nganh-thep-3750.jpg" /></a>
                                        <div class="info col-7">
                                            <h4><a href="them-du-an-thep-duoc-quy-hoach.html">Thêm dự án thép được quy
                                                    hoạch</a></h4>
                                            <div class="desc text-justify">Thủ
                                                tướng Chính phủ Nguyễn Tấn Dũng
                                                vừa chấp thuận chủ trương bổ
                                                sung dự án nhà máy luyện cán
                                                thép chất lượng ...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="block-title">Video clip</div>
                <div class="videos">
                    <div class="">

                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe id="video-frame" class="embed-responsive-item"
                                src="https://www.youtube.com/embed/nDVZidzYJec?rel=0&autoplay=1"></iframe>
                        </div>
                    </div>
                    <div class="owl-carousel owl-video my-2">
                        <div class="video-obj d-flex">
                            <div class="video trigger-video-change" data-target="#video-frame" data-id="nDVZidzYJec">

                                <img src="https://img.youtube.com/vi/nDVZidzYJec/0.jpg" />

                            </div>

                        </div>
                        <div class="video-obj d-flex">
                            <div class="video trigger-video-change" data-target="#video-frame" data-id="N36chN7a-aU">

                                <img src="https://img.youtube.com/vi/N36chN7a-aU/0.jpg" />

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>