<div class="breadCrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="/"><span>Trang chủ</span></a>
            </li>
            <li class="breadcrumb-item active"><a class="text-decoration-none" href="/dich-vu"><span>Dịch vụ</span></a></li>
        </ol>
        <script
            type="application/ld+json">{"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{"@type":"ListItem","position":1,"name":"C\u00f4ng tr\u00ecnh","item":"https:\/\/cokhinguyenhungdalat.com\/cong-trinh"}]}</script>
    </div>
</div>
<div class="container mt-3">
    <div class="row">

        <div class="col-12 ">

            <div class="title-main">
                <h1>Dịch vụ</h1>
            </div>
            <div class="content-main w-clear">

                <div class="row default row-10">
                    <div class="alert alert-warning w-100 text-center" role="alert">
                        <strong class="font-weight-normal">Không tìm thấy kết quả</strong>
                    </div>
                    <div class="clear"></div>
                    <div class="pagination-home"></div>
                </div>
            </div>
        </div>
    </div>
</div>
