{{#if error}}
	{{{body}}}
{{else}}

<!DOCTYPE html>
<html lang="vi">

<head>
	<!-- Basehref -->
	<base href="" />

	<!-- UTF-8 -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- Title, Keywords, Description -->
	<title>CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG | 0913 953 574 | 0385 09 77 71</title>
	<meta name="keywords" content="công ty tnhh cơ khí nguyên hùng | cơ khí nguyên hùng đà lạt | inox đà lạt" />
	<meta name="description"
		content="CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG chuyên cung cấp các loại inox cao cấp như cửa nhôm, tủ nấu cơm công nghiệp, cầu thang, cửa kéo kệ tủ quầy bếp inox tại Đà Lạt" />

	<!-- Robots -->
	<meta name="robots" content="index,follow" />

	<!-- Favicon -->
	<link href="/upload/photo/logo-up-9495.jpg" rel="shortcut icon" type="image/x-icon" />

	<!-- Webmaster Tool -->

	<!-- GEO -->
	<meta name="geo.region" content="VN" />
	<meta name="geo.placename" content="Hồ Chí Minh" />
	<meta name="geo.position" content="10.823099;106.629664" />
	<meta name="ICBM" content="10.823099, 106.629664" />

	<!-- Author - Copyright -->
	<meta name='revisit-after' content='1 days' />
	<meta name="author" content="CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG" />
	<meta name="copyright" content="CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG - [cokhinguyenhungdalat@gmail.com]" />

	<!-- Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG" />
	<meta property="og:title" content="CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG | 0913 953 574 | 0385 09 77 71" />
	<meta property="og:description"
		content="CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG chuyên cung cấp các loại inox cao cấp như cửa nhôm, tủ nấu cơm công nghiệp, cầu thang, cửa kéo kệ tủ quầy bếp inox tại Đà Lạt" />
	<meta property="og:url" content="https://cokhinguyenhungdalat.com/" />
	<meta property="og:image"
		content="https://cokhinguyenhungdalat.com/thumbs/120x120x2/upload/photo/logo-up-9266.jpg" />
	<meta property="og:image:alt" content="CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG | 0913 953 574 | 0385 09 77 71" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="og:image:width" content="120" />
	<meta property="og:image:height" content="120" />

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="cokhinguyenhungdalat@gmail.com" />
	<meta name="twitter:creator" content="CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG" />
	<meta property="og:url" content="https://cokhinguyenhungdalat.com/" />
	<meta property="og:title" content="CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG | 0913 953 574 | 0385 09 77 71" />
	<meta property="og:description"
		content="CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG chuyên cung cấp các loại inox cao cấp như cửa nhôm, tủ nấu cơm công nghiệp, cầu thang, cửa kéo kệ tủ quầy bếp inox tại Đà Lạt" />
	<meta property="og:image"
		content="https://cokhinguyenhungdalat.com/thumbs/120x120x2/upload/photo/logo-up-9266.jpg" />

	<!-- Canonical -->
	<link rel="canonical" href="index.html" />

	<!-- Chống đổi màu trên IOS -->
	<meta name="format-detection" content="telephone=no">

	<!-- Viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
		rel="stylesheet">
	<!-- Css Files -->
	<link href="/assets/css/animate.min.css@v=Nzp2qQAiYw.css" rel="stylesheet">
	<link href="/assets/bootstrap/bootstrap.css@v=wtoJmLqWRL.css" rel="stylesheet">
	<link href="/assets/fontawesome512/css/all.min.css@v=FwA802on0F.css" rel="stylesheet">
	<link href="/assets/mmenu/mmenu.css@v=vTr63VwvE2.css" rel="stylesheet">
	<link href="/assets/fancybox3/jquery.fancybox.css@v=rKn6UJ2ON.css" rel="stylesheet">
	<link href="/assets/owlcarousel2/owl.carousel.css@v=YdkxLbp4W6.css" rel="stylesheet">
	<link href="/assets/owlcarousel2/owl.theme.default.css@v=T7qkhzvVwn.css" rel="stylesheet">
	<link href="/assets/css/header.css@v=An7dJ7n61X.css" rel="stylesheet">
	<link href="/assets/css/footer.css@v=CaZKazzWj2.css" rel="stylesheet">
	<link href="/assets/css/custom.css@v=iOcRXzVYIu.css" rel="stylesheet">
	<link href="/assets/css/index.css@v=po8dVVkl2Y.css" rel="stylesheet">
	<link href="/assets/slick/slick.css@v=PuB6OaRNU.css" rel="stylesheet">
	<link href="/assets/css/style.css@v=bnEvFJpqEk.css" rel="stylesheet">
	<!-- Background -->
	<style type="text/css">
		#box-course {
			background: url(upload/photo/bg-khoahoc-7563.jpg) no-repeat center center fixed;
			background-size: cover
		}
	</style>
	<style type="text/css">
		#box-comment {
			background: url(upload/photo/mktwebbackgrounddanhgia-01-3167.jpg) no-repeat center center fixed;
			background-size: cover
		}
	</style>
	<style type="text/css">
		#section-advice {
			background: url(https://cokhinguyenhungdalat.com/upload/photo/untitled-3-9454.jpg) no-repeat center center;
			background-size: cover
		}
	</style>
	<script>var bg_advise = "/upload/photo/untitled-3-9454.jpg";</script>
	<!-- Js Google Analytic -->
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-FHH1EW7WV7"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-FHH1EW7WV7');
	</script>
	<!-- Js Head -->
</head>

<body class="sender home-page show-vslide">
	{{>header}}
	{{{body}}}
	{{>footer}}
	<a class="btn-zalo btn-frame text-decoration-none" target="_blank" href="https://zalo.me/0913953574">
		<div class="animated infinite zoomIn kenit-alo-circle"></div>
		<div class="animated infinite pulse kenit-alo-circle-fill"></div>
		<i><img src="assets/images/zl.png" alt="Zalo"></i>
	</a>
	<a class="btn-phone btn-frame text-decoration-none" href="tel:0913953574">
		<div class="animated infinite zoomIn kenit-alo-circle"></div>
		<div class="animated infinite pulse kenit-alo-circle-fill"></div>
		<i><img src="assets/images/hl.png" alt="Hotline"></i>
	</a>

	<!-- Js Config -->
	<script type="text/javascript">
		var NN_FRAMEWORK = NN_FRAMEWORK || {};
		var CONFIG_BASE = 'https://cokhinguyenhungdalat.com/';
		var WEBSITE_NAME = 'CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG';
		var TIMENOW = '19/11/2023';
		var SHIP_CART = false;
		var GOTOP = 'assets/images/top.png';
		var LANG = {
			'no_keywords': 'Chưa nhập từ khóa tìm kiếm',
			'delete_product_from_cart': 'Bạn muốn xóa sản phẩm này khỏi giỏ hàng ? ',
			'no_products_in_cart': 'Không tồn tại sản phẩm nào trong giỏ hàng !',
			'wards': 'Phường/xã',
			'back_to_home': 'Về trang chủ',
		};
	</script>

	<!-- Js Files -->
	<script type="text/javascript" src="assets/js/jquery.min.js@v=hRNbRQ1lI"></script>
	<script type="text/javascript" src="assets/bootstrap/bootstrap.js@v=J83rSytUyk"></script>
	<script type="text/javascript" src="assets/mmenu/mmenu.js@v=dTmu968z1k"></script>
	<script type="text/javascript" src="assets/owlcarousel2/owl.carousel.js@v=HtdfcnvwkX"></script>
	<script type="text/javascript" src="assets/fancybox3/jquery.fancybox.js@v=knMvU3mvx"></script>
	<script type="text/javascript" src="assets/ui/js/jquery-ui-1.10.4.custom.js@v=NWBNUuCCpx"></script>
	<script type="text/javascript" src="assets/js/jquery.easing.min.js@v=XBGVqo1whH"></script>
	<script type="text/javascript" src="assets/slick/slick.js@v=HnEWKScrOq"></script>
	<script type="text/javascript" src="assets/js/functions.js@v=z0yr9jMVWx"></script>
	<script type="text/javascript" src="assets/js/apps.js@v=cdLf8hWziq"></script>



	<!-- Js Structdata -->
	<!-- General -->
	<script type="application/ld+json">
        {
            "@context" : "https://schema.org",
            "@type" : "Organization",
            "name" : "CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG",
            "url" : "https://cokhinguyenhungdalat.com/",
            "sameAs" :
            [
                            ],
            "address":
            {
                "@type": "PostalAddress",
                "streetAddress": "12/9C Quang Trung, Phường 14, Quận Gò Vấp, Tp. Hồ Chí Minh",
                "addressRegion": "Ho Chi Minh",
                "postalCode": "70000",
                "addressCountry": "vi"
            }
        }
    </script>

	<!-- Js Addons -->
	<div id="script-main"></div>
	<script
		type="text/javascript">$(function () { var a = !1; $(window).scroll(function () { $(window).scrollTop() > 0.5 && !a && ($("#script-main").load("ajax/ajax_addons.php?type=script-main", function () { $("body").removeClass("sender"); }), a = !0) }) });</script>
	<!-- Js Body -->
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript"
		src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-63a2c368681ad137"></script>

</body>

</html>

{{/if}}